.element__lists {
    width: 100%;
    display: grid;
    margin: 0;
    grid-template-columns: repeat(auto-fit, 282px);
    padding: 0;
    gap: 20px 17px;
    justify-content: center;
    font-size: 0;
}