.profile__add-button-image {
    background: url(../../../images/плюс.svg);
    width: 22px;
    height: 22px;
    background-size: cover;
    background-position: center;
    border: 0;
}

@media screen and (max-width: 424px) {
    .profile__add-button-image {
        width: 16px;
        height: 16px;
    }
}